name: Docker


on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
  workflow_dispatch:


jobs:
  build-and-push:
    name: Build and Push
    uses: codex-storage/github-actions/.github/workflows/docker-reusable.yml@master
    with:
      docker_file: docker/crawler.Dockerfile
      dockerhub_repo: codexstorage/codex-network-crawler
      tag_latest: ${{ github.ref_name == github.event.repository.default_branch || startsWith(github.ref, 'refs/tags/') }}
    secrets: inherit
